:root {
	// font
	--font-family-main: 'DM Sans', sans-serif;
	--font-family-secondary: 'Plus Jakarta Sans', sans-serif;
	--font-family-poppins: 'Poppins', sans-serif;
	--font-family-roboto: 'Roboto', sans-serif;
	--font-weight-main: 700;
	--font-weight-secondary: 500;
	// size
	--width: 1440;
	--mobile-width: 450;
	--container: 975rem;
	--container-padding: 15rem;
	--font-size: 14rem;
	--width-sidebar: 333rem;
	// colors
	--bg-color: #f7f8fa;
	--bg-color-accept: #ffffff;
	--main-color: #969696;
	--accept-color: #000;
}
