.sidebar {
	display: flex;
	flex-direction: column;
	position: fixed;
	max-width: var(--width-sidebar);
	width: 100%;
	height: 100vh;
	padding: 62rem 0 0 46rem;
	background-color: var(--bg-color-accept);
	overflow-y: auto;
	& nav {
		margin-bottom: 10rem;
	}

	@media (max-width: 768px) {
		z-index: -1;
		opacity: 0;
		transition: all 0.3s ease;
		&.sidebar__mobile {
			background-color: #fff;
			z-index: 3;
			opacity: 1;
			max-width: 100%;
			overflow: auto;
		}
	}
	&::-webkit-scrollbar {
		width: 1px;
		opacity: 0;
		z-index: 0;
	}
	&__logo {
		margin-bottom: 76rem;
	}
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 25rem;
	}
	&__tariff {
		margin-top: auto;
		margin-bottom: 20rem;
	}
}
.burger {
	display: none;
	@media (max-width: 768px) {
		display: block;
		position: absolute;
		z-index: 100;
		width: 30px;
		height: 20px;
		top: 20px;
		left: 20px;
		& span {
			position: absolute;
			background-color: #000;
			left: 0;
			width: 100%;
			height: 2px;
			top: 9px;
			transition: all 0.3s ease;
		}
		&.active span {
			transform: scale(0);
		}
		&:before,
		&:after {
			content: '';
			background-color: #000;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease;
		}
		&:before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		&.active:before {
			transform: rotate(45deg);
			top: 9px;
		}
		&.active:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
		& .sidebar {
			display: block;
			z-index: 100;
			opacity: 1010;
		}
	}
}
@media (max-width: 768px) {
}
