.notification {
	position: relative;
	&__circle {
		width: 46rem;
		height: 46rem;
		background-color: #fff;
	}
	&__number {
		position: absolute;
		top: 0;
		right: 0;
		width: 20rem;
		height: 20rem;
		font-size: 8rem;
		color: var(--accept-color);
		font-family: var(--font-family-roboto);
	}
}
