.lang {
	position: relative;
	cursor: pointer;
	&__list {
		background-color: #fff;
		border-radius: 10%;
		position: absolute;
		left: 0;
		bottom: -40rem;
		right: 0;
		width: max-content;
		@media (max-width: 480px) {
			bottom: -60px;
		}
	}
	&__name {
		display: flex;
		text-transform: uppercase;

		align-items: center;
		color: var(--accept-color);
		@media (max-width: 480px) {
			font-size: 20px;
		}
	}
}
.active {
	transform: rotate(180deg) translateY(2rem);
}
.btn {
	text-transform: uppercase;
	@media (max-width: 480px) {
		font-size: 20px;
	}
}
