.statistics {
	margin-bottom: 200rem;
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60rem;
		@media (max-width: 768px) {
			flex-direction: column;
			gap: 12rem;
			align-items: center;
		}
		&-main {
			display: flex;
			flex-direction: column;
			& .tabs {
				margin-left: auto;
			}
		}
	}
}
.title {
	margin-bottom: 30rem;
}
.subtitle {
	font-size: 16rem;
	font-weight: 400;
}
.box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25rem;
	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 480px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
.tabs {
	background-color: #fff;
	display: flex;
	align-items: center;
	column-gap: 30rem;
	padding: 10rem 20rem;
	width: max-content;
	height: max-content;
	align-self: flex-end;
	border-radius: 25rem;
	& li {
		cursor: pointer;
	}
}
.active {
	font-weight: 700;
	color: var(--accept-color);
}
